.juntagrico_logo {
    background: url(/static/img/cowerk5-logo.png) 0 0px; 
    background-repeat: no-repeat;
    background-position: left center; 
    display: inline-block;
    width: 580px;
    height: 161px;
}